<ion-view view-title='<img class="title-image" src="img/1block_22.png" /> 1Block: Authenticate'>
    <ion-content class="has-header" padding="true">
        <div class="row">
            <div class="col">
              <div class="card text-center">Manual</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="item item-input">
                  <input type="text" placeholder="paste in signature challenge URL" ng-model="model.login_url" required>
                </div>
                <div id="success-dialog" class="hide text-center">
                    <i class="icon ion-checkmark-circled"></i> <span id="success-text">Success!</span>
                </div>
                <div id="error-dialog" class="hide text-center">
                    <i class="icon ion-alert-circled"></i> Error: <span id="error-text">Error!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block button-positive" ng-click="manual()">
                    Submit URL
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
